<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Project-3</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/js/visualisation.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="pieplot">
    </div>
    <script src="/static/js/visualisation.js"></script>
</body>
</html>